@import 'chota/dist/chota.min.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --bg-color: #ffffff;
  --bg-secondary-color: #f3f3f6;
  --color-primary: #14854f;
  --color-lightGrey: #d2d6dd;
  --color-grey: #747681;
  --color-darkGrey: #3f4144;
  --color-error: #d43939;
  --color-success: #28bd14;
  --grid-maxWidth: 120rem;
  --grid-gutter: 2rem;
  --font-size: 1.6rem;
  --font-color: #333333;
  --font-family-sans: sans-serif;
  --font-family-mono: monaco, 'Consolas', 'Lucida Console', monospace;
}

body.dark {
  --bg-color: #000;
  --bg-secondary-color: #131316;
  --font-color: #f5f5f5;
  --color-grey: #ccc;
  --color-darkGrey: #777;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-transform: capitalize;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: transparent;
}

button:focus,
button:focus-visible {
  outline: 4px auto;
}

iframe {
  display: block;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }

  a:hover {
    text-decoration: underline;
  }

  button {
    background-color: #f9f9f9;
  }
}

h1 {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

h1::before {
  content: "🎤";
  font-size: 2rem;
  color: #ffdd00;
  margin-right: 0.5rem;
  vertical-align: middle;
}

h1::after {
  content: " 🎵";
  font-size: 2rem;
  color: #ffdd00;
  margin-left: 0.5rem;
  vertical-align: middle;
}

.mic-image {
  display: block;
  margin: 1rem auto;
  max-width: 100px;
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .mic-image {
    max-width: 80px;
  }
}